* {
   box-sizing: border-box;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   height: 100vh;
}

.marioNet {
   width: 90vmin;
   height: 90vmin;
   background-color: #afafaf;
   position: relative;
   transition: none;
}

#instruction {
   position: absolute;
   right: 0px;
   top: 0px;
   margin-right: 5%;
   font-weight: bold;
}

#options_marioNet {
   width: 25%;
   display: flex;
   flex-direction: column;
}

#options_marioNet .option {
   width: 100%;
   background-color: #9f9f9f;
   border: 1px solid black;
   display: flex;
   justify-content: space-between;
}

#options_marioNet label {
   font-weight: bold;
   padding-left: 10px;
}

@media (max-width:700px) {
   #options_marioNet .option {
      width: 60px;
   }
   #options_marioNet label {
      display: none;
   }
   #instruction {
      display: none;
   }
}

@media (max-height:700px) {
   #options_marioNet .option {
      width: 60px;
   }
   #options_marioNet label {
      display: none;
   }
   #instruction {
      display: none;
   }
}

#degrees,
#speed,
#jump {
   width: 60px;
   /* background-color: transparent; */
}

.BP {
   border: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
}

/*//////////// Body Parts ////////////*/

.topBody {
   background-color: chartreuse;
   width: 100%;
   height: 200%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

   position: absolute;
   top: -200%;
   left: 0%;
   transform-origin: bottom center;
   border-radius: 25px;
}

.lowerBody {
   background-color: yellow;
   width: 12%;
   height: 12%;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;

   position: absolute;
   top: 50%;
   left: 44%;
   transform-origin: top center;
}

/* General */

.head {
   background-color: cornflowerblue;
   width: 100%;
   height: 50%;
   border-radius: 50%;

   position: absolute;
   top: -50%;
   left: 0%;
   transform-origin: bottom center;
}

.topArm {
   background-color: aqua;
   width: 30%;
   height: 50%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

   position: absolute;
   top: 12.5%;
   transform-origin: top center;
}

.lowerArm {
   background-color: darkseagreen;
   width: 100%;
   height: 120%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

   position: absolute;
   top: 100%;
   transform-origin: top center;
}

.hands {
   background-color: forestgreen;
   width: 180%;
   height: 40%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

   position: absolute;
   top: 100%;
   transform-origin: top center;
}

.topLeg {
   background-color: blueviolet;
   width: 40%;
   height: 150%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   position: absolute;
   transform-origin: top center;
   top: 75%;
}

.lowerLeg {
   background-color: deeppink;
   width: 80%;
   height: 100%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

   position: absolute;
   top: 100%;
   transform-origin: top center;
}

.foots {
   background-color: deepskyblue;
   width: 150%;
   height: 35%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

   position: absolute;
   top: 100%;
   transform-origin: top center;
}

/*Top Leg Right*/
.TLR {
   right: 5%;
}
/*Top Leg Left*/
.TLL {
   left: 5%;
}
/*Top Arm Right*/
.TAR {
   right: -40%;
}
/*Top Arm Left*/
.TAL {
   left: -40%;
}

/* Hands  */
.leftHand {
   left: -40%;
}

.rightHand {
   right: -40%;
}

/* Foots */
.leftFoot {
   left: -25%;
}

.rightFoot {
   right: -25%;
}

/*//////////////// Artics //////////////////////////*/

.articHead {
   background-color: crimson;
   border: 1px solid black;
   width: 40%;
   height: 20%;
   border-radius: 50%;

   position: absolute;
   top: -10%;
   left: 30%;
   transform-origin: bottom center;
}

.articArm {
   background-color: black;
   border-radius: 50%;
   position: absolute;
   transform-origin: center;
   top: 0%;
   width: 50%;
   height: 25%;
}

.articLeg {
   border-radius: 50%;
   position: absolute;
   transform-origin: center;
   top: 50%;
   width: 50%;
   height: 50%;
}

.articCenterArm {
   background-color: black;
   width: 100%;
   height: 30%;
   border-radius: 50%;
   position: absolute;
   bottom: -15%;
   left: 0%;
}

.articCenterLeg {
   background-color: black;
   width: 100%;
   height: 26%;
   border-radius: 50%;
   position: absolute;
   bottom: -13%;
   left: 0%;
}

/* .articBody {
   background-color: gold;
   width: 12%;
   height: 12%;
   border-radius: 50%;
   position: absolute;
   top: 44%;
   left: 44%;
} */

.articBody {
   position: absolute;
   transform: translate(-50%, -50%);
   height: 50%;
   width: 100%;
   border-radius: 150px 150px 0 0;
   background-color: black;
   top: -25%;
   left: 50%;
   border: 1px solid black;
}

.articFoot {
   background-color: black;
   width: 100%;
   height: 20%;
   border-radius: 50%;
   position: absolute;
   bottom: -10%;
   left: 0%;
}

.articHand {
   background-color: black;
   width: 100%;
   height: 22%;
   border-radius: 50%;
   position: absolute;
   bottom: -10%;
   left: 0%;
}

.articAL {
   left: -50%;
}
.articAR {
   right: -50%;
}
.articLL {
   left: 0%;
}
.articLR {
   right: 0%;
}

/* ////////////////  Dress Body Parts ////////////////// */

#LowBody {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#TopBody {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#Head {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#TopArmLeft {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#LowArmLeft {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#HandLeft {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#TopArmRight {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#LowArmRight {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#HandRight {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#TopLegLeft {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#LowLegLeft {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#FootLeft {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#TopLegRight {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#LowLegRight {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#FootRight {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

#artHead {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

.artBody {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.artTopArm {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.artMidArm {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.artLowArm {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.artTopLeg {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.artMidLeg {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.artLowLeg {
   /* background-image: url(./pictures/TAL.png); */
   background-position: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
